<main class="flex justify-center items-center w-full h-screen">
  <form [formGroup]="loginForm" class="flex justify-center items-start flex-col gap-4 
  bg-gray-50 text-gray-400 p-10 rounded-md" (ngSubmit)="onSubmit()">

    <div class="flex justify-start items-start flex-col gap-1">
      <input type="text" placeholder="E-mail/username" class="input-field" formControlName="login">
      <p class="error-message" *ngIf="submitted && login?.invalid && login?.errors?.['required']">
        Username é obrigatório.
      </p>
    </div>

    <div>
      <input type="password" placeholder="Password" class="input-field" formControlName="currentPassword">
      <p class="error-message" *ngIf="submitted && currentPassword?.invalid && currentPassword?.errors?.['required']">
        Password é obrigatório.
      </p>
    </div>

    <button type="submit" class="flex justify-center items-center w-full 
    bg-primary-button p-2 rounded-md text-navy-blue transition-all hover:bg-hover-button
    hover:duration-200 hover:text-gray-50">
      Sign in
    </button>

    <div class="flex w-full justify-between text-sm text-gray-200">
      <a routerLink="/register">Register</a>
      <a href="">Forgot password?</a>
    </div>
  </form>
</main>

<router-outlet />